/*
    Palettes:

    #474448
    #2d232e
    #e0ddcf
    #534b52
    #f1f0ea

    #22223b
    #4a4e69
    #9a8c98
    #c9ada7
    #f2e9e4
*/

* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 24px;
    color: #F2E9E4;
    background-color: #2D232E;
}


.namdhinggo-regular {
    font-family: "Namdhinggo", serif;
    font-weight: 400;
    font-style: normal;
}

.namdhinggo-medium {
    font-family: "Namdhinggo", serif;
    font-weight: 500;
    font-style: normal;
}

.namdhinggo-semibold {
    font-family: "Namdhinggo", serif;
    font-weight: 600;
    font-style: normal;
}

.namdhinggo-bold {
    font-family: "Namdhinggo", serif;
    font-weight: 700;
    font-style: normal;
}

.namdhinggo-extrabold {
    font-family: "Namdhinggo", serif;
    font-weight: 800;
    font-style: normal;
}

.oswald-header {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.anta-regular {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*
    <uniquifier>: Use a unique and descriptive class name
    <weight>: Use a value from 200 to 900
*/
.inconsolata-paragraphs {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

h2 {
    color: #E0DDCF;
}

h3 {
    color: #F2E9E4;
}

h4 {
    color: #C9ADA7;
}