/*
    Palettes:

    #474448
    #2d232e
    #e0ddcf
    #534b52
    #f1f0ea

    #22223b
    #4a4e69
    #9a8c98
    #c9ada7
    #f2e9e4
*/

* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 24px;
    color: #F2E9E4;
    background-color: #2D232E;
}


.namdhinggo-regular {
    font-family: "Namdhinggo", serif;
    font-weight: 400;
    font-style: normal;
}

.namdhinggo-medium {
    font-family: "Namdhinggo", serif;
    font-weight: 500;
    font-style: normal;
}

.namdhinggo-semibold {
    font-family: "Namdhinggo", serif;
    font-weight: 600;
    font-style: normal;
}

.namdhinggo-bold {
    font-family: "Namdhinggo", serif;
    font-weight: 700;
    font-style: normal;
}

.namdhinggo-extrabold {
    font-family: "Namdhinggo", serif;
    font-weight: 800;
    font-style: normal;
}

.oswald-header {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.anta-regular {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*
    <uniquifier>: Use a unique and descriptive class name
    <weight>: Use a value from 200 to 900
*/
.inconsolata-paragraphs {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.title {
    text-align: center;
    color: #ffee32;
    opacity: 90%;
    padding-bottom: 1em;
    font-style: italic;
}

#navbar {
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    background-color: #290025;
    outline: #cca000 outset;
}

#navbar a {
    color: #ffe169;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #ffe169;
    color: #290025;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}

.paragraph {
    padding-bottom: 1em;
}

.subCollection {
    display: flex;
    flex-direction: column;
    width: 33%;
    font-family: "Namdhinggo", serif;
    font-weight: 600;
    font-style: normal;
    margin-top: 1em;
}

.subCollectionContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.linkCollection {
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.listElements a {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    color:#ffee32
}

.listElements a:hover {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    color:#8d841c
}