* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 24px;
}


.namdhinggo-regular {
    font-family: "Namdhinggo", serif;
    font-weight: 400;
    font-style: normal;
}

.namdhinggo-medium {
    font-family: "Namdhinggo", serif;
    font-weight: 500;
    font-style: normal;
}

.namdhinggo-semibold {
    font-family: "Namdhinggo", serif;
    font-weight: 600;
    font-style: normal;
}

.namdhinggo-bold {
    font-family: "Namdhinggo", serif;
    font-weight: 700;
    font-style: normal;
}

.namdhinggo-extrabold {
    font-family: "Namdhinggo", serif;
    font-weight: 800;
    font-style: normal;
}

.oswald-header {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.anta-regular {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*
    <uniquifier>: Use a unique and descriptive class name
    <weight>: Use a value from 200 to 900
*/
.inconsolata-paragraphs {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
